@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Source+Sans+Pro:wght@200;400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle at 50% 50%, #ff9e00 0, #ff8b00 10%, #ff7600 20%, #ff5e00 30%, #ff430f 40%, #f21f1f 50%, #df0028 60%, #cd002e 70%, #bc0034 80%, #ad003a 90%, #a00040 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 320px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 3px 19px 15px 44px rgba(0,0,0,0.1);
    /* background: #ffff; */
    position: relative;
}
.img-card{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-body{
    width: 100%;
    height: 100%;
    top: 0;
    /* right: 0; */
    right: -100%;
    position: absolute;
    background: rgba(179, 194, 243, 0.352);
    backdrop-filter: blur(4px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    transition: 2s;
}

.card:hover .card-body{
    right: 0;
}
.card-title{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
}
.card-subtitle{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 700;
}
.card-info{
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    margin: 40px 0;
    font-weight: 400;
}
.card-btn{
    /* display: block; */
    padding: 10px 20px;
    border-radius: 5px;
    background: radial-gradient(circle at 84.67% 70.02%, #ade5ff 0, #7dcefb 25%, #3cb5f2 50%, #009ce9 75%, #0085e0 100%);
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: 400;
    cursor: pointer;
    width: 120px;
    margin: 0 auto;
}